
<!DOCTYPE html>
<html lang="en">
<head>
   <title> TODO LIST </title>
   <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body onload="fetchTodo()">
<h1>TODO</h1>
<div id="result"></div>
<h2>ADD TODO </h2>
<form id="createData" onsubmit="writeList(this.inputTodo.value)">
   <h3> Input Todo </h3>
<input type = 'text' name = 'inputTodo'> 
<input type = 'submit' value = 'Submit'>
</form>
<form id="deleteData" onsubmit="deleteList(this.deleteTodo.value)" >
   <h3> Delete Todo </h3>
   <h4>Line Number </h4>
<input type = 'text' name = 'deleteTodo'> 
<input type = 'submit' value = 'Submit'>
</form>

<form id="updateForm" name="updateData">
   <h3> Update Todo </h3>
<p>ID   <input type = 'text' name = 'id'></p>
<p>TASK DESCRIPTION   <input type = 'text' name = 'description'></p>
<input type="radio" name="status" value="True" >Finished<br>
<input type="radio" name="status" value="False" checked> Unfinshed<br>
<input type = 'submit' value = 'Submit'>
</form>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="index.js"></script>
</body>
</html>