
<!DOCTYPE html>
<html lang="en">
<head>
   <title> TODO LIST </title>

</head>

<body onload="fetchTodo()">
<h1>TODO LIST </h1>
<div id="result"></div>
<h1>ADD TODO </h1>
<form name="createData" onsubmit="writeList(this.inputTodo.value)">
   <h2> Input Todo </h2>
<input type = 'text' name = 'inputTodo'> 
<input type = 'submit' value = 'Submit'>
</form>
<form name="deleteData" onsubmit="deleteList(this.deleteTodo.value)">
   <h2> Delete Todo </h2>
<input type = 'text' name = 'deleteTodo'> 
<input type = 'submit' value = 'Submit'>
</form>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script>
let idMap = [];
const fetchTodo = () => {
$.get( '/read', function( data ) {
  var result = '<ol>';
  for(let iter = 0; iter < data.length; iter++) {
    result += `<li> ${data[iter].description} </li>`
    idMap.push(data[iter].id)
  }
  $( "#result" ).html( (result + '</ol>') );
  console.log(result);
  //idMap = data.map((element) => { return element.id })
});
}
var entityMap = {
  '&': '&amp;',
  '<': '&lt;',
  '>': '&gt;',
  '"': '&quot;',
  "'": '&#39;',
  '/': '&#x2F;',
  '`': '&#x60;',
  '=': '&#x3D;'
};
const escapeHtml = string => String(string).replace(/[&<>"'`=\/]/g,s => entityMap[s])
function writeList(description) {
    let escapedDescription = escapeHtml(description)
  fetch(`/write/${escapedDescription}`, {
    method: 'post',
  }).then(function(response) {
    return fetchTodo()
  }).then(function(data) {  
  }).catch(function (err) {
      console.log(err)
    })
}
function deleteList(id)
{
let escapedId = escapeHtml(id)
fetch(`/destroy/${idMap[escapedId - 1]}`,{method:'delete'})
.then((response) => {
return fetchTodo()
}).then()
.catch(function (err)
{
  console.log(err)
})
}

function updateList()




</script>
<!--
<script>
function printList()
{
fetch('http://localhost:3425/read', {
	method: 'get'
}).then(function(response) {
	console.log(response.json());
}).catch(function(err) {
	// Error :(
});
}
</script>
<form action =printList() method = 'GET' onsubmit='printList()'>
<input type = 'submit' value='TodoList'>
</form> -->
  <!-- <ol>
    <% fileMessageArray.forEach(function(fileElement) { %>
        <li><%= fileElement %></li>
    <% }); %>
</ol>
</div> -->
<!-- <form action ='http://localhost:3425/write' method = 'POST'>
    <h1>ADD TEXT TO FILE </h1>
    <h2> Input Text </h2>
<input type = 'text' name = 'inputText'> 
<input type = 'submit' value = 'Submit'>
</form>
<form action ='http://localhost:3425/update' method = 'POST'>
    <h1>UPDATE TEXT FILE </h1>
    <h2> Input Text </h2>
<input type = 'text' name = 'lineNumber' placeholder='Line number'> 
<input type = 'text' name = 'textUpdate' placeholder='Text to be updated'> 
<input type = 'submit' value = 'Submit'>
</form>
<form action ='http://localhost:3425/destroy' method = 'POST'>
    <h1>DELETE TEXT FROM FILE </h1>
    <h2> Input Text </h2>
<input type = 'text' name = 'lineNumber' placeholder='Line number'> 
<input type = 'submit' value = 'Submit'>
</form>
-->
</body>
</html>